<form id="formRegistroNovedad" >
	Titulo: <input  name="titulo" type="text" /><br/>
	Texto: <textarea name="texto" rows="4" cols="20" ></textarea><br/>
	<input type="submit" value="Registrar" >
</form>