<p><b>Titulo: </b></p>
<div id="titularNoticia"></div>
<p>Contenido: </p>
<div id="textoNoticia" ></div>
<p><b>Autor: </b></p>
<div id="autorNoticia"></div>
<p>Tipo: </p>
<div id="tipoNoticia" ></div>